/* chart component */
.piechart{
  display: flex;
  /* height:200px; */
}
.chart{
  width:40%;
  text-align:right;
}
.chartvalue{
  width:60%;
  padding-top: 40px;
  text-align: left;
}

.top>h3, .chartvalue>h6{
  color:grey;
}

Legend{
  color: black;
  
}

@media only screen and (max-width: 600px){
  .piechart{
    display:flex;
    flex-direction: column;
  }
  Legend{
    text-align:left;
  }
  .chart{
    width:50%;
    height: 200px;
  
    /* text-align:right; */
  }
  .chartvalue{
    width:20%;
    padding-top: 30px;
    /* text-align: left; */
  }
  Label{
    top:10;
    left:50;
  }
} 
@media only screen and (min-width: 600px){
  .chartvalue{
    padding-left:30px;
  }
}