/* details component */
.rooms{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 20px;
  position:relative;
}
.rooms1, .rooms2{
  width:50%;
}

.top>button{
    background-color: blueviolet;
    border: none;
    color: white;
    padding: 25px;
    text-align: center;
    font-size: 16px;
    margin: 10px 2px;
    border-radius: 20px;
    width: 100%;
  }
  .align{
    margin:10px;
  }
  p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11px;
    margin:5px;
  }
  .bdiv{
    display:inline-block;
    width:130px;
    position:absolute;
    top:20px;
  }