/* Header component */
.box{
  margin-top:20px;
  margin-left:40px;
  display:flex;
  position:relative
}
.img-div{
  display:flex;
  position:relative;
}
.img1{
  width:43%;
  margin-right: 10px;
}
.img2{
  width:48%;
  margin-right: 10px;
}
.img3{
  width:48%;
  border:1px solid green;
  height:100%;
}
.viewBtn1, .viewBtn2{
  position:absolute;
  top:85%;
  padding:15px;
  background-color: blueviolet;
  color:white;
  border:1px solid blueviolet;
  border-radius: 20px;
  font-weight: bold;
}
.viewBtn1{
  left:-3%;
}
.viewBtn2{
  left:10%;
}
.img-button{
  position: absolute;
  bottom: 10%;
  left: 70%;
  color: white;
  font-size: 14px;
  padding: 10px;
  border-radius: 15px;
  border: none;
  background-color: white;
  color:black;
}
.like-icons{
  display:flex;
  position: absolute;
  top: 5%;
  left: 80%;
}
.hicon{
  margin:3px;
  padding:3px;
  background-color: white;
  border:1px solid grey;
  border-radius: 50%;
}

/* phones */
@media only screen and (max-width: 600px){
  .box{
    margin-left:10px;
    margin-top:10px;
    display:flex;
    flex-direction: column;
    position:relative;
  }

  img-div{
    display:flex;
    position:relative;
   
  }
  .img1{
    width:98%;
    margin:10px;
  }
  .img2{
    width:48%;
    margin: 10px;
  }
  .img3{
    width:48%;
    margin: 10px;
  } 
  .viewBtn1, .viewBtn2{
    position:absolute;
    top:55%;
  }
  .viewBtn1{
    left:3%;
  }

  .viewBtn2{
    left:30%;
  }
}


