/* Highlights component */
.highlights-table,.highlights-table td{
  padding-right: 30px;
}
.highlights-table td{
  width: 20%;
}
.align-left{
  text-align:left;
}
.align-right{
  font-weight: bold;
  text-align:right;
}

@media only screen and (max-width: 600px){
  .highlights-table,.highlights-table td{
    padding-right: 5px;
    padding-bottom:5px;
  }
}
.highlights-container{
  margin:5px;
}