  /* sidebar component */

	.sidebar .top{
		text-align: center;
		margin:20px;
	}
	.payment{
		background-color: white;
	}
	.payment .head{
		display: flex;
		justify-content: space-between;
		margin:10px;
	}
	.head>button{
		border: none;
		color:blueviolet;
	}

	