  /* sidebar component */

	.sidebar .top{
		text-align: center;
		margin:20px;
	}
	.payment{
		background-color: white;
		display: flex;
		flex-direction: column;
	}
	.payment>.head{
		display: flex;
		justify-content: space-between;
		margin:10px;
	}
	.head>button{
		border: none;
		color:blueviolet;
	}
	.range-container{
		margin-top:10px;
		background-color: white;
		display: flex;
		flex-direction: column;
	}
	/* .slider-container{
		margin:10px;
		font-size: 20px;
		width: 70%;
	} */
